<div data-controller="hello">
  Name: <label>
  <input data-hello-target="name" type="text">
</label>
  <button data-action="hello#greet">Greet</button>
  <div data-hello-target="output"></div>
</div>