<div data-controller="hello">
  Name: <label>
  <input data-hello-target="name" type="text">
</label>
  <button data-action="hello#greet">Greet</button>
  <div data-hello-target="output"></div>
</div>

<div data-controller="toggle" data-toggle-toggle-class="toggle--shown">
  <button data-action="toggle#show">Click to reveal</button>
  <div class="toggle-dropdown">
    <label>
      <select name="" class="toggle-dropdown">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
      </select>
    </label>
  </div>
</div>

<div data-controller="toggle" data-toggle-index-value="0">
  <button data-toggle-target="chase" data-action="toggle#chaseMe">Chase me!</button>
  <br>
  <button data-toggle-target="chase" data-action="toggle#chaseMe">Chase me!</button>
  <br>
  <button data-toggle-target="chase" data-action="toggle#chaseMe">Chase me!</button>
  <br>
  <button data-toggle-target="chase" data-action="toggle#chaseMe">Chase me!</button>
  <br>
</div>

<div data-controller="toggle" data-toggle-highlight-class="toggle--highlight">
  <label data-toggle-target="highlight">
    I want to see this highlighted! <input data-action="toggle#highlight" type="checkbox">
  </label>
</div>